
.heading{
    text-align: center;
    color: white;
    
}

.subHeading{
    color:#CCCCCC;
    text-align: center;
    margin-top: 30px;
}

.link{
    color: #2A6496;
    font-weight: 500;
}

.boldHeading{
    color: white;
    font-weight: 700;
}


.hLine{
    height: 1px; 
    background-color: #494A4B; 
   
}


.image{
    border: 5px solid white; 
    border-radius: 2px;
    cursor: pointer;
}


.imgName{
    color: white; 
    font-size: 16px; 
    font-weight: 600;
    cursor: pointer;
}

.imgName:hover{
    color: blue;
}

.imgYear{
    color: #919191; 
    font-size: 15px; 
    font-weight: 400;
}

.highlight{
    color: white; 
    background-color: #731407;
}

.ad{
    background-color: black; 
    border: 4px solid #75C74E;
}




/* detail page css */
.detailImgYear{
    color: #ffffff; 
    font-size: 20px; 
    font-weight: 400;
}

.detailImgAvailable{
    color: #ffffff; 
    font-size: 16px; 
    font-weight: 400;
    font-style: italic;
}


.chip{
    padding: 4px;
    background-color: #211F1F;
    border: 1px solid rgb(201, 197, 197);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}


.chip-sub{
    color: #00A800;
}


.detailimgYear{
    color: #919191; 
    font-size: 16px; 
    font-weight: 500;
}